@{
    Layout = "~/_Layout.cshtml";
}

@{

IEnumerable<dynamic> selectedData = null;

Session["connectionString"] = "pm94";

if (Session["connectionString"] != null)
{
    var db = Database.Open(Session["connectionString"].ToString()) ;
    var selectCommand = "select activity,status,bitmap FROM impexp_activities order by activity";
    selectedData = db.Query(selectCommand);
    db.Close();
}

}

<div class="list-container row-fluid">

    <div class="activity-list span4">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li><a id="process" href="#">Process</a></li>
                    <li><a id="stop" href="#">Stop</a></li>
                    <li><a id="disable" href="#">Disable</a></li>
                    <li><a id="reset" href="#">Reset</a></li>
                </ul>
            </div>
        </div>

        <table class="list">
            <thead>
                <tr><th>Type</th><th>Name</th><th>Status</th></tr>
            </thead>
            <tbody>
            @{
                foreach (var rec in selectedData) {

                    var imageName = rec["bitmap"].Replace(".gif", ".png");

                    var displayStatus = ActivityStatusDisplay.Convert(rec["status"]);

                    <tr><td><img src="/Images/@imageName" alt="Type"></td><td data-itemtype="activity">@rec["activity"]</td><td data-itemtype="status">@displayStatus</td></tr>
                }

            }
            </tbody>
        </table>
    </div>

    <div class="activity-tab-container span8">

        <ul id="activity-tabs" class="nav nav-tabs">
            <li><a href="#parameters" class="active" data-toggle="tab">Parameters</a></li>
            <li><a href="#log" data-toggle="tab">Log</a></li>
            <li><a href="#schedule" data-toggle="tab">Schedule</a></li>
            <li><a href="#email" data-toggle="tab">Email</a></li>
            <li><a href="#importrules" data-toggle="tab">Import Rules</a></li>
            <li><a href="#importdata" data-toggle="tab">Import Data</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="parameters">parameters</div>
            <div class="tab-pane" id="log">log</div>
            <div class="tab-pane" id="schedule">shedule</div>
            <div class="tab-pane" id="email">email</div>
            <div class="tab-pane" id="importrules">import rules</div>
            <div class="tab-pane" id="importdata">import data</div>
        </div>

    </div>

</div>

<script type="text/javascript" src="~/Scripts/activity.js?x=5"></script>
