<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <sessionState mode="InProc" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

<system.webServer>
  <staticContent>
    <mimeMap fileExtension=".less" mimeType="text/css" />
  </staticContent>
</system.webServer>

<connectionStrings>
    <add name="pm91" connectionString="Data Source=(local)\sqlexpress;Database=pm92_smec;User Id=promasterweb; Password=changeoninstall;" providerName="System.Data.SqlClient"/>
</connectionStrings>

</configuration>