<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <system.web>
        <sessionState mode="InProc" />
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".less" mimeType="text/css" />
        </staticContent>
        <defaultDocument>
            <files>
                <remove value="index.php" />
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="index.html" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
            </files>
        </defaultDocument>
    </system.webServer>

    <connectionStrings>
        <add name="pm91" connectionString="Data Source=(local)\sqlexpress;Database=pm91_dev;User Id=promasterweb; Password=changeoninstall;" providerName="System.Data.SqlClient" />
        <add name="pm93" connectionString="Data Source=(local)\sqlexpress;Database=pm93_dev;User Id=promasterweb; Password=changeoninstall;" providerName="System.Data.SqlClient" />
        <add name="pm94" connectionString="Data Source=(local)\sqlexpress;Database=pm94_dev;User Id=promasterweb; Password=changeoninstall;" providerName="System.Data.SqlClient" />
        <add name="pm97" connectionString="Data Source=(local)\sqlexpress;Database=pm97_dev;User Id=promasterweb; Password=changeoninstall;" providerName="System.Data.SqlClient" />
    </connectionStrings>

</configuration>