body {
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    color: #0094ff;
}

table.list {

    border-collapse: collapse;
    border: 1px solid silver;
    width: 100%;
    
    th {
        text-align: left;
        background-color: #000;
        color: #fff;
    }
    
    tr.highlight {
        background-color: #90ebfc;
        cursor: pointer;
    }
    tr.select {
        background-color: #e4e4e4;
    }
    td:first-child {
        text-align: center;
    }
}

#main { margin-bottom: 20px;}

* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}


#footer {
    clear: both;
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: lightskyblue;
    height: 30px;
    padding:  5px;
}

div#navlistbar {height:30px;border-top:1px solid silver;border-left:1px solid silver;border-right:1px solid silver;background-image: url(../images/header_silver.gif);background-repeat:repeat-x;}
ul#navlist{margin:0;padding:0;list-style-type:none;white-space:nowrap;}
ul#navlist li{float:left;font-family:verdana,arial,sans-serif;font-size:9pt;font-weight:normal;margin:0px;height:30px;line-height:25px;}
#navlist a,#navlist a:link{padding: 15px 5px 5px 5px;color:dimgray;}
ul#navlist li#active{color:white;background-color:#deebe5;}
#navlist a:hover{color:black;}

.headertabactive{background-image:url('../images/header_blue.gif');height:30px;padding:0px 15px 0px 15px;border-top:1px solid gainsboro;border-right:1px solid gainsboro;border-bottom:none;}
.headertabon{background-image:url('../images/header_silver.gif');height:30px;padding:0px 15px 0px 15px;border-top:1px solid gainsboro;border-right:1px solid gainsboro;border-bottom:none;}
.headertaboff{background-image:url('../images/header_silver.gif');height:30px;padding:0px 15px 0px 15px;border-top:1px solid gainsboro;border-right:1px solid gainsboro;border-bottom:none;}

#activity_detail { border:  1px solid silver; min-height: 300px;}

table#tabs {
    border-left: 1px solid silver;
    td {text-align: center; white-space: nowrap;}
}

table.list tr td:last-child {font-weight: bold;}
table.list tbody {min-height: 500px; overflow: auto;}

div#fly-open {
	border: 1px solid #8f8f8f;
	border-bottom: none;
	position:fixed;
	bottom:0px;
	width:60%;
	padding: 0;
	margin: 0 20% 0 20%;
	z-index:100;

	div#fly-open-title {
		color:white;
		background-color:deepskyblue;
		line-height: 160%;
		width:100%;
		cursor: pointer;
		font-weight:bold;
		text-align:center;
	}
	div#fly-open-content {
		padding: 5px;
		display: none;
	}
}
